// Place all the styles related to the cards controller here. 
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap-sprockets";
@import "bootstrap";

table {
    margin: 10px;
}

.btn {
    margin-top:10px;
}

.container {
    max-width: 100%;
}

@media (max-width: 767.98px) { 
 }